<% if logged_in?%>
  <p class='pull-right'>
    [<%= link_to 'edit this post', edit_post_path(@post) %>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <div class='control-group'>
      <%= render 'shared/form_error', form: @comment %>
      <%= f.label :body, 'Leave a Comment' %>
      <%= f.text_area :body, rows: 3, class: 'span4' %><br>
      <%= f.submit class: 'btn btn-primary block' %>
    </div>
  <% end %>
<% end %>


<h4>Comments:</h4>
<% @post.comments.sort_by{|x| x.total_votes}.reverse.each do |comment| %>
 <%= render 'comments/comment', comment: comment %>
<% end %>


