<p class='pull-right'>
  [<%= link_to 'edit this post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<%= form_for [@post, @comment] do |f| %>
  <div class='control-group'>
    <%= render 'shared/form_error', form: @comment %>
    <%= f.label :body, 'Leave a Comment' %>
    <%= f.text_area :body, rows: 3, class: 'span4' %><br>
    <%= f.submit class: 'btn btn-primary block' %>
  </div>
<% end %>


<h4>Comments:</h4>
<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='span8 well'>
      <span class="quiet">posted by</span> <%= comment.creator.username %>
      <small><%= format_date comment.created_at %></small>
    </div>
  </div>
<% end %>
